<div id="skills" class="info-block">
    <h2 class="subtitle">Skills</h2>
    <div class="chart">
      <div class="container">
        <div class="skills html">
          <span class="skill">HTML</span>
        </div>
      </div>

      <div class="container">
        <div class="skills css">CSS</div>
      </div>

      <div class="container">
        <div class="skills js">JavaScript</div>
      </div>

      <div class="container">
        <div class="skills php">PHP</div>
      </div>
    </div>
  </div>