<div class="main">
    <app-side-nav [name]="name" [profilePhotoSrc]="profilePhotoSrc"></app-side-nav>
    <div class="right-side">
      <app-about [aboutMeId]="aboutMeId" [aboutMeText]="aboutMeText"
                      [aboutMeTitle]="aboutMeTitle"></app-about>
      <app-education [educationId]="educationId" [educationTitle]="educationTitle"
                     [educations]="educations"></app-education>
      <app-experience [experienceTitle]="experienceTitle" [experienceId]="experienceId"
                      [experiences]="experiences"></app-experience>
      <app-contacts [contactsTitle]="contactsTitle" [contactsId]="contactsId" [contacts]="contacts"></app-contacts>
      <app-feedbacks [feedbacksTitle]="feedbacksTitle" [feedbacksId]="feedbacksId"
                     [feedbacks]="feedbacks"></app-feedbacks>
      <app-skills [skillsId]="skillsId"></app-skills>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  