.info-block {
    padding: 20px 0px 30px 0px;
}

.content-elem {
    display: grid;  
    grid-template-columns: 1fr 10fr;  
}

.left-area{
    width: 100px;
}

.right-area-experience {
    border-bottom: dashed 1px slategrey;
    padding: 0px 15px 15px 15px;
  }

.left-side-title {
   margin: 15px 15px 5px 15px;
   font-weight: bold;
   font-size: 18px;
   color: slategray;
}

.left-side-subtitle{
    margin: 5px 15px;
    font-size: 12px;
    color: gray;
  }

  .subtitle {
    margin: 0px 0px 40px 0px;
  }

  .exc-details {
    padding: 5px 45px 20px 45px;
    margin: 0px 15px;
  }

  .edu-title {
    color: slategray;
    font-size: 18px;
    font-weight:bolder;
    padding: 10px 10px;
  }