<div id="{{experienceId}}" class="info-block">
    <h2 class="subtitle">{{experienceTitle}}</h2>
    <ul>
        <li>
            <div class="content-elem">
                <div class="left-area">
                  <div class="left-side-title">{{experience.company}}</div>
                  <div class="left-side-subtitle">{{experience.period}}</div>
                </div>
                <div class="right-area-experience">
                  <div class="exc-details">
                    <div class="edu-title">{{experience.position}}</div>
                    <div>{{experience.text}}</i></div>
                  </div>
                </div>
            </div>
        </li>
    </ul>
</div>